@import 'variables.scss';

@mixin desk1420 {
	@media only screen and (max-width: $desk-1420){
		@content;
	}
}
@mixin desk1240 {
	@media only screen and (max-width: $desk-1240){
		@content;
	}
}
@mixin desk1024{
	@media only screen and (max-width: $desk-1024){
		@content;
	}
}
@mixin mobile920 {
	@media only screen and (max-width: $mobile-920){
		@content;
	}
}
@mixin mobile768 {
	@media only screen and (max-width: $mobile-768){
		@content;
	}
}
@mixin mobile420 {
	@media only screen and (max-width: $mobile-420){
		@content;
	}
}
@mixin mobile375 {
	@media only screen and (max-width: $mobile-375){
		@content;
	}
}
@mixin mobile320 {
	@media only screen and (max-width: $mobile-320){
		@content;
	}
}

/* Material Design Box Shadow mixins */

/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link https://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}