@import 'normalize.css';
@import 'variables.scss';
@import 'mixins.scss';

* {padding: 0; margin: 0;}
html {font-family: $Lato; }

ul {
	text-decoration: none;
	list-style-type: none;
}

body {width: 100%;}



main{
	padding: 40px 0 20px 0;
	.wrapper {
		width: 100%;
		max-width: $desk-1366;
		display:flex;
		flex-direction: row;
		margin: 0 auto;
		@include desk1024 {
			max-width: $desk-1024;
		}
		.lateral{
			width:30%;
			display:flex;
			flex-direction: column;
			background-color: #ebebec;
			align-items:center;
			@include card(1);
			.navigator {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 40px 0 40px;
				@include card(2);
				position:relative;
				cursor: pointer;
				overflow: hidden;
				&:hover {
					&:before, &:after {
						width: 15%;
					}
					.logo {
						transform: scale(1.1);
					}
				}
				&:before, &:after {
					content: '';
					width: 0%;
					height: 100%;
					position: absolute;
					background-color: #d4d4d8;
					transition: width .4s;
					transform: rotate(-30deg);
					
				}
				&:before {
					top: 50px;
					left: -50px;
					box-shadow:  3px -2px 6px 0px rgba(0, 0, 0, 0.24);
				}
				&:after {
					bottom: 50px;
					right: -50px;
					box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.24);
				}				
				.logo {
					background-color: transparent;
					width: 100%;
					max-width: 200px;
					height: auto;
					border-radius: 50%;
					border: 1px solid white;
					@include card(2	);
					transition: transform .4s;
				}
			}
			.info-wrapper {
				width: 100%;
				display:flex;
				.car-info {
					width: 100%;
					padding: 20px;
					color: #363339;
					font-family: Helvetica;
					font-size: 12px;
					font-weight: 400;
					line-height: 22px;
					form {
						width: 100%;
						display: flex;
						background-color: lightblue;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 20px 0;
						@include card(1);
						h3 {
							color:white;
							font-family: Helvetica;
							font-size: 24px;
							font-weight: 700;
							line-height: 28px;
							text-transform: uppercase;
						}
						input[type=text] {
						  width: 250px;
						  height: 50px;
						  background: none;
						  box-sizing: border-box;
						  border: 4px solid #FFFFFF;
						  color: #fff;
						  font-size: 24px;
						  font-weight: 400;
						  font-family: Helvetica;
						  outline: 0;
						  text-transform: uppercase;
						  margin: 10px 0;
						  padding: 10px;
						}
						input[type=text]::placeholder {
						 	color: white;
						 	font-size: 18px;
						 	line-height: 22px;
							text-transform: uppercase;
						}
						input[type=submit]{
							width: 150px;
							height: 50px;
							background-color:white;
							border: 1px solid lightgrey;
							color:#222731;
							padding: 10px 0 ;
							text-transform: uppercase;
							transition-property: background-color;
							transition-duration: .5s;
							cursor: pointer;
							font-size: 20px;
							line-height: 24px;
							margin: 20px 0;
							@include card(1);
							&:hover {
								background-color: #222731;	
								color: white;
							}
						}
						.warning {
							width: 60%;
							color: red;
							font-size: 16px;
							font-family: Helvetica;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		}
		.main{
			width:70%;
			background-color: white;
			display:flex;
			flex-direction:column;
			padding-left: 80px;
			.first, .about, .bigpic, .awesome, .quote, .player {
				width: 100%;
				margin: 20px 0;
				@include card(2);
				header{
					width:100%;
					padding: 60px 0 50px;
					display: flex;
					justify-content: space-around;
					align-items: center;
					@include card(1);
					h1 {	
						color:#39373c;
						font-family: Helvetica;
						font-size: 12px;
						font-weight: 700;
						line-height: 27px;
						text-transform: uppercase;
						display:inline;
						.orange {
							color: #ff744d;
						}
					}
					.deco-bar {
						width: 85%;
						height: 7px;
						background-color:#ebebec;
					}					
				}				
			}
			.first {
				flex-direction: column;
				header {
					position: relative;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						max-width: 120px;
						height: auto;
						background-color: grey;
					}
					justify-content: center;
					h1 {
						width: 70%;
						font-size: 22px;
						line-height: 28px;
						text-align: center;
						.orange {
							display: inline-block;
						}						
					}
				}
				.img-wrapper{
					width: 100%;
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					.car-image {
						width: 100%;
						max-width: 121px;
						height: 121px;
						margin: 0 20px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
						border-radius: 30%;
					}
				}
			}	
			.about{
				width: 100%;
				display:flex;
				flex-direction: column;
				align-items: center;
				.response-header {
					width: 90%;
					background-color: white;
					margin: 50px 0 0;
					.response-heading  {
						font-family: Helvetica;
						font-size: 12px;
						font-weight: 700;
						line-height: 27px;
						text-transform: uppercase;
					}
				}	
				.results {
					width: 80%;
					display:flex;
					flex-direction: column;
					padding: 10px 0 10px;
					.data-set {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: 10px 0;
						margin: 0 0 10px 0;
						@include card(1) ;
						
						.data-title , .data {
							margin: 0 10px;
						}
						.data-title {
							color: #FF7056;
							font-size: 16px;
							font-weight: 700;
							line-height: 20px;
							text-transform: uppercase;
							&:after {
								content: ": ";
							}
						}
						.data {
							font-size: 12px;
							text-transform: uppercase;
							font-weight: 300;
						}
					}	
				}
			}	
			.bigpic{
				width: 100%;
			}
			.awesome{
				width: 100%;
			}
			.quote{
				width: 100%;
			}
			.player{
				width: 100%;
			}			
		}
	}

footer {
	background-color: #39373c;
	display:flex;
	justify-content: center;
	padding: 60px 0 30px;
	.wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		.copyright {
			color: #bcbcbc;
			font-family: Helvetica;
			font-size: 12px;
			font-weight: 400;
			line-height: 22px;
			margin: 10px 0;
		}
		.random-text {
			color: #d5d5d5;
			font-family: "Santa Fe Let Plain";
			font-size: 36px;
			font-weight: 400;
			font-style: italic;
			line-height: 22px;		
		}
	}
}	