@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$Lato: Lato, sans-serif;

// Screen sizes:
$desk-1920: 1920px;
$desk-1420: 1420px;
$desk-1366: 1366px;
$desk-1024: 1024px;
$mobile-900: 900px;
$mobile-768: 768px;
$mobile-420: 420px;
$mobile-375: 375px;
$mobile-320: 320px;