* {
	padding: 0;
	margin: 0;

}
html {height: 100%;}
body {
	width: 100%;
	min-height: 100%;
	background-color: #FF775C;
	display: flex;
	justify-content: center;
	.wrapper {
		width: 50%;
		height: 500px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 200px 0;
		.hoverme {
			width: 200px;
			height: 100px;
			padding: 20px;
			box-sizing: border-box;
			border: 2px solid white;
			background-color: transparent;
			color: white;
			font-size: 1.5em;
			display: block;
			cursor: pointer;
		}
		#one {
			transition: background-color, color  1s ,.5s;
			&:hover {
				background-color: white;
				color: #FF775C;
			}
		}
		#two {
			position: relative;
			border: none;

			&:hover {
				&:before {
					width: 100%;
				}
				&:after {
					height: 100%;
				}
			}
			&:before {
				content: '';
				height: 3px;
				width: 0%;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				right: 0;
				transition: width 0.3s;
			}
			&:after {
				content: '';
				height: 0%;
				width: 3px;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				right: 0;
				transition: height 0.3s;
			}
		}
		#three {
			position: relative;
			border: none;
			letter-spacing: 0px;
			transition: letter-spacing 0.3s;
			&:hover {
				letter-spacing: 5px;
				&:before {
					width: 100%;
				}
				&:after {
					width: 100%;
				}
			}
			&:before {
				content: '';
				height: 3px;
				width: 0%;
				background-color: white;
				position: absolute;
				top: 0;
				right: 0;
				transition: width 0.3s;
			}
			&:after {
				content: '';
				height: 3px;
				width: 0%;
				background-color: white;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: width 0.3s;
			}
		}
		#four {
			border: none;
			position: relative;
			&:hover {
				&:before , &:after {
					height: 100%;
					width: 100%;
				}
			}
			&:before {
				content: '';
				height: 20px;
				width: 20px;
				border: 2px solid white;
				border-color: white white transparent transparent;
				position: absolute;
				top: 0;
				right: 0;
				transition-property: height, width;
				transition-duration: 0.3s;
			}
			&:after {
				content: '';
				height: 20px;
				width: 20px;
				border: 2px solid white;
				border-color: transparent transparent white white ;
				position: absolute;
				bottom: 0;
				left: 0;
				transition-property: height, width;
				transition-duration: 0.3s;
			}
		}
		#five {
			transition: box-shadow 0.4s;
			position: relative;
			&:hover {
				box-shadow: inset 0px 0px 15px #fff;
				&:before {
					transform: scale(1.2);
					border-color: transparent;
				}
			}
			&:before {
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				border: 1px solid white;
				top: 0;
				left: 0;
				transition: transform 0.3s, border-color 0.3s;
			}
		}
		#six {
			position: relative;
			transition: color 0.3s;
			overflow: hidden;
			&:hover {
				color: #FF775C;
				&:before {
					width: 100%;
				}
			}
			&:before {
				content: '';
				height: 100%;
				width: 0%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fff;
				transition: width 1s cubic-bezier(1,0.3,.74,.32);
				z-index: -1;
			}

		}
		#seven {
			position: relative;
			overflow: hidden;
			transition: color 0.3s;
			&:hover {
				color: #FF775C;
				&:before {
					width: 210%;
					
				}
			}
			&:before {
				content: '';
				width: 0%;
				height: 200%;
				position: absolute;
				background-color: #fff;
				transform: rotate(45deg);
				top: -40px;
				left: -100px;
				transition: width 0.4s;
				z-index: -1;
			}

		}
		#eight {
			position: relative;
			transition: color 0.4s;
			&:hover {
				color: #FF775C;
				&:before, &:after {
					height: 100%;
				}
			}
			&:before, &:after {
				content: '';
				width: 100%;
				height: 0px;
				position: absolute;
				transition: height 0.4s;
				background-color: #fff;
				z-index: -1;
			}
			&:before {
				top: 0;
				left: 0;
			}
			&:after {
				bottom: 0;
				left: 0;
			}
		}
		#nine {
			transition: border-radius 0.2s;
			&:hover {
				border-radius: 50px;
			}
		}
		#ten {
			position: relative;
			overflow: hidden;
			transition: color 0.4s;
			&:hover {
				color: #FF775C;
				&:before {
					width: 200%;
					height:200%;
					border-radius: 0;
				}
			}
			&:before {
				content: '';
				height: 0%;
				width: 0%;
				background-color: #fff;
				border-radius: 90%;
				position: absolute;
				top: -20px;
				left: -40px;
				transform: rotate(25deg);
				transition: width 0.4s, height 0.4s, border-radius 0.4s;
				z-index: -1;
			}

		}
	}
}




/*
button {
	width: 40%;
	display: block;
	background-color: teal;
	border:none;
	margin: 50px auto;
	padding: 20px;
	color: white;
	cursor: pointer;
	// transition property default value is All
	transition-property: background-color;
	transition-duration: 1s;
	&:active {background-color:none; outline: none}
	&:visited{outline: none}
	&:hover {
		background-color: chocolate;

	}
}
*/
