* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white;
  padding: 20px 0; }
  a:visited {
    color: white;
    text-decoration: none; }
  a:active {
    color: orange; }

li {
  transition: background-color .3s;
  cursor: pointer; }
  li:hover {
    background-color: rgba(0, 0, 0, 0.1); }

#header.open #second-nav {
  transform: translateX(0); }

#header.open .nav-toggle span {
  margin-left: 5px; }

#header.open .nav-toggle span:nth-of-type(1) {
  transform: rotate(33deg);
  transform-origin: top left; }

#header.open .nav-toggle span:nth-of-type(2) {
  opacity: 0; }

#header.open .nav-toggle span:nth-of-type(3) {
  transform: rotate(-33deg);
  transform-origin: top left; }

body {
  width: 100%;
  min-height: 100%; }
  body .wrapper {
    width: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0 auto; }
    body .wrapper header {
      width: 100%;
      position: relative; }
      body .wrapper header .main-navigation {
        width: 100%;
        display: flex;
        background-color: #cc3d37;
        box-sizing: border-box;
        cursor: pointer;
        justify-content: flex-end;
        padding: 20px 0;
        z-index: -1; }
        body .wrapper header .main-navigation ul {
          width: 30%;
          align-content: center;
          align-items: center;
          display: flex;
          justify-content: space-around; }
          body .wrapper header .main-navigation ul li {
            list-style-type: none; }
      body .wrapper header .side-navigation {
        width: 20%;
        height: 600px;
        min-height: 100vh;
        background-color: #cc3d37;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateX(-100%);
        transition: transform 0.4s; }
        body .wrapper header .side-navigation .nav-toggle {
          width: 50px;
          max-height: 40px;
          align-items: center;
          background-color: #cc3d37;
          position: absolute;
          top: 0px;
          left: 100%;
          padding: 3px 0px;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          cursor: pointer;
          transition: background-color 0.3s ease; }
          body .wrapper header .side-navigation .nav-toggle:hover {
            background-color: rgba(0, 0, 0, 0.1); }
          body .wrapper header .side-navigation .nav-toggle span {
            width: 40px;
            height: 3px;
            background-color: #fff;
            margin: 4px 0;
            transition: transform .4s ease, opacity .3s ease; }
        body .wrapper header .side-navigation ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 40px 0 0 0; }
          body .wrapper header .side-navigation ul li {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px 0; }

/*# sourceMappingURL=navbar.css.map */
