* {
	padding: 0;
	margin: 0;
}
html { height: 100% }

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
	padding: 20px 0;
	&:visited {
		color: white;
		text-decoration: none;
	}
	&:active {
		color: orange;
	}
}

li {
	transition: background-color .3s;
	cursor: pointer;
	&:hover {
		background-color: rgba(0,0,0,.1); 
	}
}

body {
	width: 100%;
	min-height: 100%;
	.wrapper {
		width: 100%;
		max-width: 1920px;
		display: flex;
		margin: 0 auto;
		header {	
			width: 100%;
			position: relative;		
			.main-navigation {
				width: 100%;
				display: flex;
				background-color: rgba(204, 61, 55, 1);
				cursor: pointer;
				justify-content: space-between;
				ul {
					width: 30%;
					align-content: center;
					align-items: center;
					display: flex;
					justify-content: space-around;
					li {
						list-style-type: none;

					}
				}
			}
			.side-navigation {
				width: 20%;
				height: 600px;
				min-height: 100vh;
				background-color: rgba(204, 61, 55, 1);
				box-shadow: 0px 0px 10px rgba(0,0,0,.2);
				display: flex;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0%;
				.nav-toggle {
					width: 50px;
					min-height: 40px;
	 				background-color: rgba(204, 61, 55, 1);
					position: absolute;
					top: 19px;
					right: -54px;
					padding: 2px;
					span {
						width: 40px;
						height: 3px;
						background-color: #fff;
						position: absolute;
						display: block;
						top: 45%;
						left: 10%;
						padding: 2px;
						&:before {
							width: 40px;
							height: 3px;
							padding: 2px;
							content: '';
							background-color: #fff;
							display: block;
							position: relative;
							top: -10px;
							
						}
					}
					ul {
						width: 100%;
						display: flex;
						flex-direction: column;
						padding: 40px 0 0 0;
						li {
							width: 100%;
							display: flex;
							justify-content: center;
							margin: 20px 0;

						}
					}
			}
		}
	}
}
}